<h2>All Cycles: </h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Stock</th>
            <th>Rent</th>
            <th>Add To Cart</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cycle of cycles">
            <td>{{ cycle.id }}</td>
            <td>{{ cycle.brand }}</td>
            <td>{{ cycle.stock }}</td>
            <td>{{ cycle.rent }}</td>
            <td><button type="button" (click)="addToCart(cycle.id, count.value)">Add To Cart</button></td>
            <td><input type="number" value="1" name="count" id="count" #count></td>
        </tr>
    </tbody>
</table>