table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

 

 
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}

 

 
tr:nth-child(even) {
    background-color: #f2f2f2;
}

 

tr:hover {
    background-color: #ddd;
}

 

/* Style table cells */
td {
    padding: 8px;
}

 

/* Style the "Add To Cart" button */
button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

 

/* Style the quantity input */
input[type="number"] {
    width: 40px;
}